
	
.box {
	
	padding: 70px;
	width: 400px;
	height: 400px;
	background: #fff;
	border: solid;
	border-color: #0049d31f; 
	
	background-color: #f2f2f2;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	
}

.divList {
	border-radius: 5px;
	background-color: #f2f2f2;
}

.divForm {
	border-radius: 5px;
}


 
	